<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입 축하</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
<div style="background-color: #ffffff; margin: 0 auto; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); max-width: 600px;">
  <h1 style="color: #4CAF50; text-align: center;">가계부 회원가입을 축하합니다!</h1>
  <br>
  <br>
  <div class="centered-text" style="text-align: center;">
    <p>안녕하세요, <strong>{{name}}</strong>님,</p>
    <p>저희 서비스에 가입해주셔서 감사합니다✨</p>
    <p>가계부에서 제공하는 다양한 다양한 서비스를 마음껏 이용 부탁드릴게요~!😊</p>
    <p>궁금한 점이 있으시면 언제든지 문의해 주세요!</p>
    <p>가계부팀 드림📜</p>
  </div>
</div>
</body>
</html>